@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
    font-family: 'Karla';
}



body {
    background-color:  hsl(148, 38%, 91%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}


.form_box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.form_box h2 {
    margin: 10px 0px 30px 0px;
}
 


.form_box .section1 .first_name input,
.form_box .section1 .last_name input  {
    display: block;
    outline: none;
    border: 1px solid hsl(186, 15%, 59%);
    padding: 12px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
}


label{
    display: block;
    font-size: 12px;
    color: hsl(187, 24%, 22%);
    margin-bottom: 10px;
}


.error {
    color: hsl(0, 66%, 54%);
    font-size: 12px;
    margin: 10px 0px;
    visibility: hidden;
}



.star {
    color: hsl(169, 82%, 27%);
}




.form_box .section2 input {
    display: block;
    outline: none;
    width: 100%;
    padding: 12px 5px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 5px;
    margin-bottom: 5px;
}



.form_box .section3 .box input {
    display: none;
}


.form_box .section3 .box .custom_r{
    margin-top: 10px;
    width: 100%;
    border: 1px solid hsl(186, 15%, 59%);
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    user-select: none;
}

.form_box .section3 .box .custom_r .checkmark {
    height: 16px;
    width: 16px;
    border: 1px solid hsl(186, 15%, 59%);;
    border-radius: 50%;
    margin-right: 20px;
}

.form_box .section3 .box .custom_r input:checked + .checkmark {
    border: none;
    background-image: url("./img/icon-radio-selected.svg");
    background-position: center;
    background-size: cover;
}





.form_box .section4 textarea {
    outline: none;
    resize: none;
    width: 100%;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
}


.form_box .section4,
.form_box .section3,
.form_box .section2{
    margin: 30px 0px;
}

.form_box .section5{
    margin: 40px 0px;
}

.form_box .section5 .box{
    display: flex;
}

.form_box .section5 .custom_checkbox input {
    display: none;
}

.form_box .section5 .box {
    font-size: 12px;
}

.form_box .section5 .box + .error {
    margin: 0px 0px 30px 0px;
}



.form_box .section5 .custom_checkbox .checkmark {
    height: 16px;
    width: 16px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 3px;
    margin-right: 10px;
    display: inline-block;
}

.form_box .section5 .custom_checkbox input:checked + .checkmark {
    border: none;
    background-image: url("./img/icon-checkbox-check.svg");
    background-position: center;
    background-size: cover;
}



.form_box form #submit {
    background-color: hsl(169, 82%, 27%);
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 15px 0px;
    cursor: pointer;
}


.popup {
    height: 110px ;
    width: 300px;
    background-color: hsl(169, 85%, 13%);
    position: absolute;
    border-radius: 20px;
    top: 5px;
    color: #fff;
    z-index: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.popup img {
    width: 20px;
    height: 25;
    margin-right: 10px;
}


.popup .top {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.popup .bottom {
    color: hsl(148, 38%, 91%);
    text-align: center;
    font-size: 12px;
}
